@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.capitalize {
  text-transform: capitalize;
}

.dialogs__header {
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
}

.dialogs__header,
.favourites,
.dialogs__input-section {
  background: #edf1f3;
}

.active-user {
  font-size: 18px;
  font-weight: 500;
  color: gray;
}

.active-user img {
  height: 45px;
  width: auto;
}

.pin-section img {
  height: 25px;
  width: auto;
}

.dialogs__input-section {
  display: flex;
  justify-content: center;
  position: relative;
}

.dialogs__input-section::before {
  position: absolute;
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  margin-bottom: 5px;
  background: lightgray;
}

.dialogs__input-section input,
.dialogs__input-section button {
  height: fit-content;
  align-self: center;
  border: 1px solid lightgray;
}

.dialogs__input-section input {
  width: 65%;
  padding: 5px 10px;
  border-radius: 15px;
}
.dialogs__input-section button {
  font-size: 10px;
  padding: 10px 5px;
  border-radius: 50%;
  margin-left: 10px;
}

.dialogs__dialogs {
  overflow-y: scroll;
  padding-bottom: 50px;
}

.userChatListDiv::-webkit-scrollbar,
.dialogs__dialogs::-webkit-scrollbar {
  display: none;
}

.message-date {
  text-align: center;
  color: rgb(180, 180, 180);
  opacity: 0.65;
  font-size: 14px;
}

.align_right {
  text-align: right;
  margin: auto;
  margin-right: 0;
}
.align_left {
  text-align: left;
  margin: auto;
  margin-left: 0;
}

.message .align_right,
.message .align_left {
  width: fit-content;
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 15px;
  margin-bottom: 25px;
  word-wrap: normal;
  white-space: '-';
}

.primary-color {
  background: #edf1f3;
}

.message {
  display: block;
  position: relative;
  padding: 0 5px;
}

.message .align_right {
  background-color: #d9d9d9c1;
  color: #000;
}
.message .align_left {
  background-color: #434451;
  color: #fff;
}

.message .align_right span,
.message .align_left span {
  font-size: 10px;
  color: #646464;
  position: absolute;
  bottom: -20px;
  left: 0;
  padding: 5px;
}

.message .align_right span {
  right: 0;
}

.userChatListDiv {
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

.userChatList {
  margin-top: 0;
  display: grid;
  height: fit-content;
  width: -webkit-fill-available;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 80px;
  background: #edf1f3;
}

ul li {
  background: #fff;
}

.userChats {
  display: block;
  margin: 2px 0;
  padding: 8px 8px;
  list-style-type: none;
  margin-left: -40px;
  position: relative;
  min-height: 40px;
  cursor: pointer;
  border: 4px solid transparent;
}

.userChats h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
}

.firstOrderInlist {
  order: -1;
}

.lastDialogData,
.lastDialogMessage {
  font-size: 12px;
  margin: 5px;
}

.lastDialogData {
  position: absolute;
  right: 10px;
  color: rgba(0, 0, 0, 0.549);
  top: 3px;
}

.lastDialogMessage {
  color: grey;
  opacity: 0.89;
}

.chats {
  grid-area: 'chats';
  display: block;
  overflow: hidden;
}
.chats h2 {
  margin: 10px 5px;
  color: lightblue;
  font-weight: 400;
}

.dialogs {
  grid-area: 'dialog';
  background-color: #fff;
  min-height: 90vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 18% 70% 10%;
}

.favourites {
  grid-area: 'favourite';
  padding: 5px;
  font-size: 12px;
}

.pin-section > div {
  display: block;
  width: fit-content;
}

.pin-section h3 {
  margin: 5px;
}

.pin-section p {
  align-self: center;
  margin: auto;
  text-align: center;
}

.chats,
.dialogs,
.favourites {
  border: 1px solid lightgray;
}

.main-container {
  overflow: hidden;
  max-width: 800px;
  max-height: 90vh;
  padding: 25px 10px;
  margin: auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 15% 85%;
  grid-template-areas:
    'favourite dialog'
    'chats dialog';
}

.hide {
  display: none;
}
.hidden {
  visibility: hidden;
}

.search-section {
  display: flex;
}

.clear-btn,
.back-btn {
  border: none;
  background: transparent;
  color: rgba(38, 39, 78, 0.557);
}

.back-btn {
  padding: 10px 12px;
  height: auto;
  margin: auto 5px;
  display: none;
}

#live_search {
  display: block;
  flex-basis: 60%;
  max-width: 70%;
  margin: 5px;
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 3px;
}

label[for='live_search'] {
  flex-basis: 20%;
  padding: 6px;
  color: rgb(152, 152, 152);
  text-align: right;
}

.clear-btn {
  flex-basis: 20%;
  text-align: left;
}

input:focus,
.dialogs__input-section button:active,
.back-btn:active {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

@media screen and (max-width: 450px) {
  .main-container.mobileUser {
    grid-template-columns: 1% 90%;
  }

  .main-container.mobileList {
    grid-template-columns: 90% 1%;
  }

  .dialogs__header {
    padding: 10px 0;
  }

  .back-btn {
    display: block;
  }
}
